body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

.form-group {
    margin: 10px 0;
}

.error-message {
    color: red;
    font-size: 14px;
}

button {
    background-color: #d0002a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

/* Estilos para los campos de entrada de texto */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para los mensajes de error */
.error-message {
    font-size: 14px;
    margin-top: 5px;
}

/* Estilos para los botones y etiquetas */
button,
label {
    display: block;
}
